<aside class="sidebar">
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Home" asp-action="Test">Test</a></li>
        <li><a asp-controller="Home" asp-action="Feedback">Feedback</a></li>
        <li><a asp-controller="Home" asp-action="Logout">Logout</a></li>
    </ul>
</aside>
