@{
    ViewData["Title"] = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Feedback</h2>

<table class="feedback-table">
    <thead>
        <tr>
            <th>CNIC</th>
            <th>Name</th>
            <th>Feedback</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>38455-9876345-3</td>
            <td>Muhammad Huzaifa</td>
            <td>
                <a href="#">View Feedback</a> 
                <span class="feedback-count">1</span>
            </td>
        </tr>
        <tr>
            <td>38652-2119445-1</td>
            <td>Usman Baig</td>
            <td>
                <a href="#">View Feedback</a> 
                <span class="feedback-count">4</span>
            </td>
        </tr>
        <tr>
            <td>38455-0985321-3</td>
            <td>Abdullah Khan</td>
            <td>
                <a href="#">View Feedback</a> 
                <span class="feedback-count">0</span>
            </td>
        </tr>
    </tbody>
</table>
