@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<table class="data-table">
    <thead>
        <tr>
            <th>CNIC</th>
            <th>Name</th>
            <th>Age</th>
            <th>Driving Test</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>38455-9876345-3</td>
            <td>Muhammad Huzaifa</td>
            <td>76</td>
            <td>Passed</td>
        </tr>
        <tr>
            <td>38652-2119445-1</td>
            <td>Usman Baig</td>
            <td>73</td>
            <td>Passed</td>
        </tr>
        <tr>
            <td>38455-0985321-3</td>
            <td>Abdullah Khan</td>
            <td>30</td>
            <td>Passed</td>
        </tr>
    </tbody>
</table>
